{{ define "main" }}
  <div
    class="col-xs-12 col-sm-8 col-md-9 content-column white-background inner-article">
    {{ partial "mobile_nav_toggle.html" . }}
    <div class="row-no-gutters page-head page-head-2">
      <h2>{{ .Title }}</h2>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <div class="content-column-content">
          <div class="row">
            <div class="col-sm-8">
              {{ $img := "" }}
              {{ if .Params.aboutImage }}
                {{ with resources.Get .Params.aboutImage }}
                  {{ $img = . | fingerprint }}
                {{ end }}
              {{ end }}
              <img
                src="{{ $img.RelPermalink }}"
                width="{{ $img.Width }}"
                height="{{ $img.Height }}"
                class="img-responsive" />
            </div>
            <div class="col-sm-4">{{ .Content }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}
