{{ define "main" }}
  <div class="w-full md:min-w-0 md:flex-1 bg-white inner-article">
  
    {{ partial "mobile_nav_toggle.html" . }}
    {{ partial "header.html" .}}
    
    <div class="px-4 py-6">
      <div class="max-w-6xl mx-auto">
        <div class="content-column-content">
          {{- if .Params.blocks }}
            {{- range .Params.blocks -}}
              <div class="flex flex-wrap -mx-4 mb-8">
                <div class="w-full md:w-2/3 px-4">
                  {{- if .youtube -}}{{ partial "blocks/youtube" . }}{{- end -}}
                  {{- if .sheets -}}{{ partial "blocks/sheets" . }}{{- end -}}
                  {{- if .image -}}{{ partial "blocks/image" . }}{{- end -}}
                  {{- if .instagram -}}{{ partial "blocks/instagram" . }}{{- end -}}
                  {{- if $.Content}}
                    <div class="content space-y-6 text-gray-800 leading-relaxed mt-4 [&>p]:font-garamond [&>p]:text-2xl">
                      {{ $.Content }}
                    </div>
                  {{- end -}}
                </div>
                <div class="content md:w-1/3 px-4 mt-4 md:mt-0">
                  {{ markdownify .content }}
                </div>
              </div>
            {{- end -}}
          {{- else -}}
            <div class="content space-y-6 text-gray-800 leading-relaxed">
              {{ .Content }}
            </div>
          {{- end -}}
        </div>
      </div>
    </div>
  </div>
  
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      if (document.getElementById('player')) {
        const player = new Plyr('#player', {});
      }
    });
  </script>
{{ end }}